html {
  font-size: 12px;
  font-family: "Microsoft YaHei", "微软雅黑", helvetica, arial, verdana, tahoma, sans-serif;
}
@media only screen and (min-width: 360px) {
  html {
    font-size: 13.5px;
  }
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (min-width: 440px) {
  html {
    font-size: 16.5px;
  }
}
div,
textarea,
input,
ul,
li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
.clear {
  clear: both;
}
.wechat-video {
  background: #f6f6f6;
}
.v-header {
  position: relative;
  overflow: hidden;
  height: 5rem;
}
.v-header .v-title {
  display: table;
  height: 5rem;
  padding: 0.83rem;
  padding-right: 0;
}
.v-header .v-title h1 {
  font-size: 1.33rem;
  font-weight: bold;
  line-height: 1.58rem;
  height: 3.16rem;
  overflow: hidden;
}
.v-header .v-number {
  float: right;
  width: 8rem;
  height: 5rem;
  padding: 0.83rem;
  padding-left: 0;
  padding-right: .83rem;
  background: #e5f1f6;
}
.v-header .v-number span {
  display: block;
  text-align: right;
  font-size: 1.08rem;
  color: #019dd8;
}
.v-header .v-number .weight {
  font-weight: bold;
  font-size: 1.17rem;
}
.v-header .v-recom {
  position: absolute;
  left: 100%;
  top: 0;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform .5s ease;
  height: 5rem;
  width: 100%;
  padding: 0.83rem;
  background: #d9edf8;
}
.v-header .v-recom .v-recom-profile {
  float: left;
  padding-right: .5rem;
}
.v-header .v-recom .v-recom-profile img {
  width: 3.25rem;
  height: 3.25rem;
}
.v-header .v-recom .v-recom-title1 {
  position: absolute;
  left: 4.58rem;
  top: 0.83rem;
  font-size: 1rem;
  color: #909090;
}
.v-header .v-recom .v-recom-title2 {
  position: absolute;
  bottom: 1rem;
  left: 4.58rem;
  width: 70.3125%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.17rem;
  line-height: 1.17rem;
  margin-top: .2rem;
  color: #3399e0;
}
.v-header .v-recom .v-recom-title2 span {
  display: inline-block;
  border-bottom: 1px solid #3399e0;
}
.v-header .v-recom .v-close {
  float: right;
  padding: 1rem 0 .6rem 1.25rem;
}
.v-header .v-recom .v-close i {
  display: inline-block;
  vertical-align: middle;
  width: 1.25rem;
  height: 1.25rem;
  background: url('../demo/wechat_V2/common_icons.png') no-repeat;
  background-size: 5.75rem 13.25rem;
  background-position: 0 0;
}
.v-header .v-recom.active {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.v-footer {
  position: relative;
  padding: 0.83rem;
}
.v-footer .v-user {
  float: left;
}
.v-footer .v-user .profile {
  display: inline-block;
  width: 3.17rem;
  height: 3.17rem;
}
.v-footer .v-user .profile img {
  width: 3.17rem;
  height: 3.17rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  vertical-align: bottom;
}
.v-footer .v-user .info {
  display: inline-block;
  margin-left: .417rem;
}
.v-footer .v-user .info p {
  font-size: 1.17rem;
  color: #797979;
}
.v-footer .v-user .info .v-name {
  display: inline-block;
  width: 9rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.v-footer .v-user .info .time {
  margin-left: .417rem;
  font-size: .75rem;
  color: #a0a0a0;
}
.v-footer .v-user .info .decoration {
  margin-top: -0.2rem;
  font-size: 1.08rem;
  color: #555555;
}
.v-footer .v-user .info .decoration::before,
.v-footer .v-user .info .decoration::after {
  content: '';
  display: inline-block;
  background: url('../demo/wechat_V2/common_icons.png') no-repeat;
  background-size: 5.75rem 13.25rem;
  width: .8rem;
  height: .8rem;
}
.v-footer .v-user .info .decoration::before {
  background-position: 0 -1.92rem;
  margin-right: 2px;
  vertical-align: top;
  margin-top: 3px;
}
.v-footer .v-user .info .decoration::after {
  background-position: -1.2rem -1.92rem;
  margin-left: 2px;
  vertical-align: bottom;
  margin-bottom: 3px;
}
.v-footer .v-action {
  position: absolute;
  right: 0.83rem;
}
.v-footer .v-action .icon-download,
.v-footer .v-action .icon-f,
.v-footer .v-action .icon-f-old {
  position: relative;
  display: inline-block;
  text-align: center;
  color: #868686;
  width: 2.67rem;
  height: 3.33rem;
  margin-left: 1rem;
}
.v-footer .v-action .icon-f.act {
  position: relative;
  width: 2.67rem;
  height: 3.33rem;
  margin-left: 1.875rem;
  color: #06a7e1;
}
.v-footer .v-action .icon-f.act .forward {
  background-position: -3.17rem -6rem;
}
.v-footer .v-action .icon-f-old.act {
  position: relative;
  width: 2.67rem;
  height: 3.33rem;
  margin-left: 1rem;
  color: #06a7e1;
}
.v-footer .v-action .icon-f-old.act .forward-old {
  background-position: -3.17rem -6rem;
}
.v-footer .v-action i {
  display: inline-block;
  background: url('../demo/wechat_V2/common_icons.png') no-repeat;
  background-size: 5.75rem 13.25rem;
  vertical-align: middle;
}
.v-footer .v-action span {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: .83rem;
  line-height: .83rem;
  width: 2.83rem;
  color: #868686;
}
.v-footer .v-action .download {
  width: 1.6rem;
  height: 1.6rem;
  background-position: 0 -10rem;
}
.v-footer .v-action .forward {
  background-position: -3.2rem -10rem;
  width: 2.1rem;
  height: 1.6rem;
}
.share-social {
  display: none;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 8.33rem;
  background: rgba(218, 238, 248, 0.98);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.share-social .triangle-up {
  position: absolute;
  right: 1.5rem;
  top: -0.7rem;
  width: 0;
  height: 0;
  border-left: .83rem solid transparent;
  border-right: .83rem solid transparent;
  border-bottom: 0.83rem solid rgba(218, 238, 248, 0.98);
}
.share-social .robot {
  float: left;
}
.share-social .robot i {
  display: inline-block;
  width: 3.33rem;
  height: 7.08rem;
  background: url('../demo/wechat_V2/share_icons.png') no-repeat;
  background-size: 14.67rem 11.17rem;
  background-position: 0 0;
  margin-top: .67rem;
  margin-left: -2px;
  margin-right: .67rem;
}
.share-social .share-description {
  float: left;
}
.share-social .share-description p {
  margin-top: .83rem;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  color: #555;
}
.share-social .share-description .share-o i {
  display: inline-block;
  width: 3.667rem;
  height: 3.667rem;
  background: url('../demo/wechat_V2/share_icons.png') no-repeat;
  background-size: 14.67rem 11.17rem;
  margin-right: 1.17rem;
}
.share-social .share-description .share-o .qq {
  background-position: 0 -7.5rem;
}
.share-social .share-description .share-o .qzone {
  background-position: -3.68rem -7.5rem;
}
.share-social .share-description .share-o .weibo {
  background-position: -7.35rem -7.5rem;
}
.share-social .share-description .share-o .wechat {
  background-position: -11.1rem -7.5rem;
}
.share-social .share-description .share-o .laiwang {
  background-position: -11.1rem -3.83rem;
}
.share-social .share-close {
  float: right;
  padding: .79rem .79rem 0 0;
}
.share-social .share-close i {
  display: inline-block;
  vertical-align: middle;
  width: 1.25rem;
  height: 1.25rem;
  background: url('../demo/wechat_V2/common_icons.png') no-repeat;
  background-size: 5.75rem 13.25rem;
  background-position: 0 0;
}
.teledrama-list {
  padding: 0.83rem;
}
.teledrama-list header {
  font-size: 1.33rem;
  margin-top: .83rem;
}
.teledrama-list .drama-number {
  margin-left: -0.83rem;
}
.teledrama-list .drama-number li {
  float: left;
  margin-top: .83rem;
}
.teledrama-list .drama-number li a {
  display: inline-block;
  width: 4.33rem;
  height: 4.33rem;
  margin-left: .83rem;
  line-height: 4.33rem;
  background: #f4f7fa;
  font-size: 2rem;
  color: #555;
  text-align: center;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.teledrama-list .drama-number li a.pass {
  color: #bbb;
}
.teledrama-list .drama-number li a.active {
  color: #fff;
  background: #06a7e1;
  border: 1px solid #06a7e1;
}
.teledrama-list .interval-list {
  position: relative;
}
.teledrama-list .interval-list .more-list {
  display: none;
  position: absolute;
  z-index: 4;
  width: 100%;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}
.teledrama-list .interval-list .more-list li {
  border-top: none;
}
.teledrama-list .interval-list .more-list li a {
  margin-right: 1.9rem;
}
.teledrama-list .interval-list .more-list li a.active {
  color: #06a7e1;
}
.teledrama-list .interval-list .more-list.block {
  display: block;
}
.teledrama-list .current-list,
.teledrama-list .more-list li {
  height: 4.33rem;
  width: 100%;
  line-height: 4.33rem;
  border: 1px solid #d1d1d1;
  background: #f4f7fa;
  text-align: center;
  font-size: 1.33rem;
}
.teledrama-list .current-list a,
.teledrama-list .more-list li a {
  display: inline-block;
  width: 6.5rem;
  text-align: right;
  color: #555;
}
.teledrama-list .display-all {
  height: 4.33rem;
  line-height: 4.33rem;
  margin-top: .83rem;
  border: 1px solid #d1d1d1;
  background: #f4f7fa;
  text-align: center;
  font-size: 1.33rem;
}
.teledrama-list .display-all a {
  color: #555;
}
.teledrama-list .current-list {
  margin-top: .83rem;
}
.teledrama-list .current-list i {
  display: inline-block;
  background: url('../demo/wechat_V2/common_icons.png') no-repeat;
  background-size: 5.75rem 13.25rem;
  background-position: -1.58rem 0;
  width: .83em;
  height: .54rem;
  margin-left: .75rem;
  vertical-align: middle;
  transition: transform .4s;
  -webkit-transition: -webkit-transform 0.4s;
  transform: rotate(0);
  -webkit-transform: rotate(0);
}
.teledrama-list .current-list.rotate i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.adver {
  margin: 0.83rem;
}
.video-list {
  padding-top: 0.83rem;
}
.video-list header {
  font-size: 1.33rem;
  margin: .83rem 0 .83rem .83rem;
}
.video-list ul {
  padding: 0 0.83rem;
}
.video-item {
  margin-bottom: 1.83rem;
}
.video-item .thumbnail {
  position: relative;
  z-index: 3;
  float: left;
  margin-right: .83rem;
}
.video-item .thumbnail img {
  width: 9.417rem;
  height: 5.33rem;
}
.video-item .description {
  position: relative;
  height: 5.33rem;
}
.video-item .description h1 {
  font-size: 1.17rem;
  line-height: 1.67rem;
  height: 3.33rem;
  overflow: hidden;
}
.video-item .description .p-num {
  position: absolute;
  bottom: 0;
  left: 10.25rem;
}
.video-item .description .p-num i {
  display: inline-block;
  background: url('../demo/wechat_V2/common_icons.png') no-repeat;
  background-size: 5.75rem 13.25rem;
  background-position: 0 -8.83rem;
  width: 1.08rem;
  height: 1.08rem;
  vertical-align: middle;
}
.video-item .description .p-num span {
  margin-left: .25rem;
  font-size: 1rem;
  color: #bbbbbb;
  vertical-align: middle;
}
.comment-list {
  position: relative;
  padding-top: 0.83rem;
}
.comment-list header {
  font-size: 1.33rem;
  margin: .83rem 0 .83rem .83rem;
}
.comment-list ul {
  padding: 0 0.83rem;
}
.comment-item {
  margin-bottom: 1.5rem;
}
.comment-item .time {
  position: absolute;
  right: .83rem;
  font-size: .75rem;
  color: #bbbbbb;
}
.comment-item .u-profile {
  float: left;
  width: 3.17rem;
  margin-right: .83rem;
  margin-top: .33rem;
}
.comment-item .u-profile img {
  width: 3.17rem;
  height: 3.17rem;
}
.comment-item .description {
  position: relative;
  display: table;
}
.comment-item .description .name {
  font-size: 1rem;
  color: #797979;
}
.comment-item .description i {
  display: inline-block;
  background: url('../demo/wechat_V2/common_icons.png') no-repeat;
  background-size: 5.75rem 13.25rem;
  background-position: -1.83rem -8.83rem;
  width: .75rem;
  height: .75rem;
  margin-left: .417rem;
  vertical-align: middle;
}
.comment-item .description p {
  margin-top: .417rem;
  font-size: 1.17rem;
  color: #555555;
  line-height: 1.33rem;
}
.comment-more,
.exchange {
  text-align: center;
  height: 3.33rem;
  line-height: 3.33rem;
  color: #019dd8;
  background: #fff;
  font-size: 1.25rem;
}
.comment-btn {
  padding: .417rem 0;
  background: #f6f6f6;
}
.nomore-c {
  text-align: center;
  border-bottom: .25rem solid #f6f6f6;
  background: #fff;
}
.nomore-c p {
  font-size: 1.25rem;
  color: #909090;
  margin-bottom: .25rem;
}
.nomore-c img {
  width: 3.92rem;
  height: 3.67rem;
  margin-bottom: -0.25rem;
}
.comment-review {
  position: absolute;
  right: .83rem;
  top: .83rem;
}
.comment-review i {
  display: inline-block;
  background: url('../demo/wechat_V2/common_icons.png') no-repeat;
  background-size: 5.75rem 13.25rem;
  background-position: -2.83rem -1.58rem;
  width: 1.25rem;
  height: 1.35rem;
  vertical-align: middle;
}
.comment-review a {
  font-size: .917rem;
  color: #1c98e7;
}
.video-recom-btn {
  padding-bottom: 0.83rem;
  background: #ededed;
}
.video-recom-btn .exchange {
  border-top: 1px solid #ededed;
}
.video-recom-btn .exchange i {
  display: inline-block;
  background: url('../demo/wechat_V2/common_icons.png') no-repeat;
  background-size: 5.75rem 13.25rem;
  background-position: -4rem 0;
  width: 1.25rem;
  height: 1.35rem;
  margin-top: -0.3rem;
  margin-right: .5rem;
  vertical-align: middle;
}
.wechat-footer {
  background: #f6f6f6;
  padding: 0 0.83rem;
}
.wechat-footer .logo {
  text-align: center;
}
.wechat-footer .logo img {
  display: inline-block;
  width: 4.5rem;
  height: 4.5rem;
  margin: 1.25rem auto;
  vertical-align: middle;
}
.wechat-footer .public-number {
  border: 2px solid #007dcc;
  background: #1c98e7;
  height: 3.33rem;
  line-height: 3.33rem;
  text-align: center;
  color: #fff;
  font-size: 1.417rem;
  margin-bottom: 1.67rem;
}
.wechat-footer .banner {
  position: relative;
  margin-bottom: 1.67rem;
}
.wechat-footer .banner img {
  width: 100%;
}
.wechat-footer .banner p {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  font-size: 1.17rem;
  line-height: 1.17rem;
  margin-top: -0.58rem;
}
.wechat-footer .banner p a {
  color: #fff;
}
.change {
  padding: 0;
}
.none {
  display: none;
}
.block {
  display: block;
}
.x-video-info {
  visibility: hidden;
}
.x-player .x-video-button .x-video-play-ico {
  width: 63px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -31px;
  margin-top: -30px;
  background: url('../demo/wechat_V2/play_icon.png') no-repeat;
  background-size: 63px 60px;
}
.yk-player {
  position: relative;
}
.yk-player .yk-player-tip {
  position: absolute;
  left: 0;
  top: 0;
  height: 2.4375rem;
  width: 100%;
  padding-left: 0.83rem;
  line-height: 2.4375rem;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.17rem;
  color: #fff;
}
.yk-player {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.wechat-footer .yk-footer {
  min-width: 280px;
}
.wechat-comments-f {
  z-index: 10;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 4rem 1.25rem;
  -webkit-box-sizing: -webkit-border-box;
  box-sizing: border-box;
}
.wechat-comments-f textarea {
  width: 100%;
  height: 7.08rem;
  margin: 0;
  border-radius: 0;
  resize: none;
}
.wechat-comments-f .comments-figure {
  margin-bottom: .5rem;
}
.wechat-comments-f .comments-figure span {
  display: inline-block;
  font-size: .83rem;
}
.wechat-comments-f .comments-figure span:first-child {
  float: left;
  color: #ef3f22;
}
.wechat-comments-f .comments-figure span.count {
  float: right;
  color: #909090;
}
.wechat-comments-f .cancel {
  float: left;
  display: inline-block;
  width: 46.5%;
  height: 2.917rem;
  line-height: 2.917rem;
  font-size: 1rem;
  color: #909090;
  background: #f4f7fa;
  border: 1px solid #d1d1d1;
  text-align: center;
  -webkit-box-sizing: -webkit-border-box;
  box-sizing: border-box;
}
.wechat-comments-f .submit {
  float: right;
  width: 46.5%;
  height: 2.917rem;
  line-height: 2.917rem;
  font-size: 1rem;
  color: #909090;
  background: #f4f7fa;
  border: 1px solid #d1d1d1;
  text-align: center;
  -webkit-box-sizing: -webkit-border-box;
  box-sizing: border-box;
}
.wechat-comments-f .submit.active {
  color: #fff;
  background: #3eb4ff;
  border: 1px solid #007dcc;
}
.wechat-comments-s {
  position: absolute;
  z-index: 12;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  background: rgba(0, 0, 0, 0.6);
}
.wechat-comments-s .close {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 1rem;
}
.wechat-comments-s .close i {
  display: inline-block;
  vertical-align: middle;
  width: 2.5rem;
  height: 2.5rem;
  background: url('../demo/wechat_V2/comments_icons.png') no-repeat;
  background-size: 3.33rem 1.67rem;
  background-position: -2.33rem 0;
}
.wechat-comments-s .success-state {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -9.6rem;
  margin-top: -0.917rem;
  font-size: 1.25rem;
  color: #fff;
}
.wechat-comments-s .success-state i.success-icon {
  display: inline-block;
  vertical-align: middle;
  width: 1.67rem;
  height: 1.8rem;
  margin-right: .5rem;
  background: url('../demo/wechat_V2/comments_icons.png') no-repeat;
  background-size: 3.33rem 1.67rem;
  background-position: 0 0;
}
.wechat-login-b {
  background: #f6f6f6;
}
.wechat-login-h {
  padding: 1.875rem 0.83rem 1.46rem 0.83rem;
}
.wechat-login-h h1 {
  float: left;
  color: #444;
  font-size: 1.166666rem;
  line-height: 1.166666rem;
}
.wechat-login-h i {
  float: right;
  display: inline-block;
  width: 6rem;
  height: 1.25rem;
  background: url('../demo/wechat_V2/yk_logo.png') no-repeat;
  background-size: 6rem 1.25rem;
  background-position: 0 0;
  vertical-align: middle;
}
.wechat-login-f input {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.wechat-login-f .form-group {
  padding-bottom: 2.083333rem;
}
.wechat-login-f .form-group input {
  width: 100%;
  border: none;
  padding-left: 0.83rem;
  height: 2.708333rem;
}
.wechat-login-f .form-submit {
  margin-top: 0.83rem;
}
.wechat-login-f .form-submit input {
  width: 100%;
  height: 3.416666rem;
  border: none;
  background: #1c98e7;
  color: #fff;
  font-size: 1.5rem;
}
.wechat-subscribe-b {
  background: #f6f6f6;
}
.wechat-sub-h {
  padding: 0.83rem;
  background: #313131;
}
.wechat-sub-h img {
  float: left;
  width: 3.166666rem;
  height: 3.166666rem;
  margin-right: .5rem;
  border-radius: 50%;
  border: 1px solid #fff;
}
.wechat-sub-h .info {
  float: left;
}
.wechat-sub-h .info h1 {
  font-size: 1.166666rem;
  line-height: 1.866666rem;
  color: #fff;
}
.wechat-sub-h .info p {
  font-size: 1.083333rem;
  line-height: 1.3rem;
  color: #999;
}
.wechat-sub-h .info p a {
  margin-right: .5rem;
  color: #35acff;
}
.subscribe-title {
  padding: 0.42rem 0.83rem;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: .416666rem;
  background: #fff;
}
.subscribe-title h1 {
  font-size: 1.25rem;
  line-height: 1.54rem;
  color: #313131;
}
.subscribe-list {
  border-bottom: 1px solid #dcdcdc;
}
.subscribe-item {
  padding: 0.83rem;
  border-top: 1px solid #dcdcdc;
  background: #fff;
}
.subscribe-item .item-head {
  margin-bottom: .833333rem;
}
.subscribe-item .item-head img {
  float: left;
  width: 2.083333rem;
  height: 2.083333rem;
  margin-right: .333333rem;
  border-radius: 3px;
}
.subscribe-item .item-head .info {
  float: left;
}
.subscribe-item .item-head .info h2 {
  font-size: 1.083333rem;
  line-height: 1.1rem;
  color: #777;
}
.subscribe-item .item-head .info p {
  font-size: .75rem;
  line-height: 1rem;
  color: #777;
}
.subscribe-item .item-body .thumbnail {
  position: relative;
  float: left;
  margin-right: .83rem;
}
.subscribe-item .item-body .thumbnail img {
  width: 9.417rem;
  height: 5.33rem;
}
.subscribe-item .item-body .thumbnail .label {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 1.583333rem solid red;
  border-right: 1.583333rem solid transparent;
}
.subscribe-item .item-body .thumbnail .label-text {
  position: absolute;
  left: 1px;
  top: -3px;
  font-size: .5rem;
  color: #fff;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.subscribe-item .item-body .info {
  position: relative;
  height: 5.33rem;
}
.subscribe-item .item-body .info p {
  line-height: 1.67rem;
  height: 3.33rem;
  overflow: hidden;
}
.subscribe-item .item-body .info p a {
  font-size: 1.166666rem;
  color: #2f2f2f;
}
.subscribe-item .item-body .info span {
  position: absolute;
  bottom: .3rem;
  left: 10.25rem;
  font-size: 1rem;
  line-height: 1rem;
  color: #909090;
  vertical-align: middle;
}
.subscribe-item .item-body .info span i {
  display: inline-block;
  background: url('../demo/wechat_V2/common_icons.png') no-repeat;
  background-size: 5.75rem 13.25rem;
  background-position: 0 -8.83rem;
  width: 1.08rem;
  height: 1.08rem;
  margin-right: .25rem;
  vertical-align: middle;
}
.push-sec {
  transfrom: translateY(10rem);
  -webkit-transform: translateY(10rem);
  transition: transform .7s;
  -webkit-transition: -webkit-transform 0.7s;
}
.push-title {
  height: 2.38rem;
  padding: 0 0.83rem;
  font-size: 1.25rem;
  line-height: 2.38rem;
  color: #313131;
}
.push-list {
  border-bottom: 1px solid #dcdcdc;
}
.push-item {
  position: relative;
  height: 10rem;
  padding: 0.83rem;
  border-top: 1px solid #dcdcdc;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}
.push-item .item-head {
  margin-bottom: .83rem;
}
.push-item .item-head img {
  float: left;
  width: 2.08rem;
  height: 2.08rem;
  margin-right: .333333rem;
  border-radius: 3px;
}
.push-item .item-head .info {
  float: left;
}
.push-item .item-head .info h2 {
  font-size: 1.083333rem;
  line-height: 1.1rem;
  color: #777;
}
.push-item .item-head .info p {
  font-size: .75rem;
  line-height: 1rem;
  color: #777;
}
.push-item .item-body .thumbnail {
  position: relative;
  float: left;
  margin-right: .83rem;
}
.push-item .item-body .thumbnail img {
  width: 9.417rem;
  height: 5.33rem;
}
.push-item .item-body .thumbnail .label {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 1.583333rem solid red;
  border-right: 1.583333rem solid transparent;
}
.push-item .item-body .thumbnail .label-text {
  position: absolute;
  left: 1px;
  top: -3px;
  font-size: .5rem;
  color: #fff;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.push-item .item-body .info {
  position: relative;
  height: 5.33rem;
}
.push-item .item-body .info p {
  line-height: 1.67rem;
  height: 3.33rem;
  overflow: hidden;
}
.push-item .item-body .info p a {
  font-size: 1.166666rem;
  color: #2f2f2f;
}
.push-item .item-body .info span {
  position: absolute;
  bottom: .3rem;
  left: 10.25rem;
  font-size: 1rem;
  line-height: 1rem;
  color: #909090;
  vertical-align: middle;
}
.push-item .item-body .info span i {
  display: inline-block;
  background: url('../demo/wechat_V2/common_icons.png') no-repeat;
  background-size: 5.75rem 13.25rem;
  background-position: 0 -8.83rem;
  width: 1.08rem;
  height: 1.08rem;
  margin-right: .25rem;
  vertical-align: middle;
}
.push-item .subscribe-btn {
  position: absolute;
  right: .833333rem;
  top: .833333rem;
  width: 3.5rem;
  height: 1.583333rem;
  line-height: 1.583333rem;
  font-size: 1rem;
  color: #4cb7ff;
  text-align: center;
  border: 1px solid #4cb7ff;
  border-radius: 2px;
}
.fade {
  opacity: 0;
}
.mplay-broadcast {
  position: relative;
  border-bottom: .5rem solid #efefef;
}
.mplay-broadcast h1.broadcast-h {
  padding: 0 .83rem;
  font-size: 1.25rem;
  height: 2.9rem;
  line-height: 2.9rem;
}
.mplay-broadcast h1.broadcast-h a {
  display: inline-block;
  width: 68%;
  font-size: 1.1rem;
  color: #1c98e7;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}
.mplay-broadcast .more-ico {
  right: 1.25rem;
  top: 1.2rem;
}
.mplay-broadcast .broadcast-more {
  position: absolute;
  right: 0;
  top: 0;
  width: 3rem;
  height: 2.9rem;
}
.mplay-broadcast .broadcast-wrap {
  display: none;
}
.mplay-broadcast .broadcast-wrap.block {
  display: block;
}
.mplay-broadcast ul.broadcast-list {
  margin: 0 .83rem;
}
.mplay-broadcast ul.broadcast-list li.broadcast-item {
  margin-bottom: 1rem;
}
.mplay-broadcast ul.broadcast-list li.broadcast-item a {
  display: block;
}
.mplay-broadcast ul.broadcast-list li.broadcast-item h2 {
  display: inline-block;
  color: #1c98e7;
  font-size: 1.1rem;
  max-width: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: top;
}
.mplay-broadcast ul.broadcast-list li.broadcast-item span {
  color: #a4a4a4;
  font-size: 1rem;
}
.more-btn {
  position: relative;
  border-top: 1px solid #efefef;
  text-align: center;
  height: 3.4rem;
  line-height: 3.4rem;
  color: #8b8b8b;
  background: #fff;
  font-size: 1rem;
}
.more-btn .more-ico {
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: 2.5rem;
}
.more-ico {
  position: absolute;
  width: 14px;
  height: 7px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform .4s;
}
.more-ico .line1,
.more-ico .line2 {
  position: absolute;
  left: -3px;
  top: 6px;
  width: 20px;
  height: 1px;
  background: #babcbd;
}
.more-ico .line1 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.more-ico .line2 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.more-ico.active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.more-ico.right {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
